body{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfav-S7nmyC_r-QMdnPLDgduVatlBDpSXxKQ&s);
  height: 100vh;
}

.container{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box{
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
}